[MESSAGES CONTROL]
disable=duplicate-code, # Triggers on data-models
        consider-using-f-string # Keep .format() as long as we want unofficial python3.5 support

[BASIC]
good-names=i,j,k,ex,cx,cy,fx,fy,k1,k2,k3,p1,p2

[FORMAT]
max-line-length=120

# Allow long lines if they contains long strings
ignore-long-lines="[^"]{80,}"

# While camera.capture() can return both Frame and Frame2D, since pylint does not do code path
# analysis it mistakenly thinks it can only return Frame. This causes false-positive "no-member"
# warnings when we access methods that only exist on Frame2D (for now this is only image_rgba()
# and image_bgra()).
generated-members=image_rgba,image_bgra